<h3>Button Component</h3>
<p-button (onClick)="count()" label="Click"></p-button>

<p-button (onClick)="count()" icon="fa fa-fw fa-check" label="Click"></p-button>

<p-button (onClick)="count()" icon="fa fa-fw fa-check" iconPos="right" label="Click"></p-button>

<p-button (onClick)="count()" icon="fa fa-fw fa-close"></p-button>

<p-button (onClick)="count()" icon="fa fa-fw fa-check" [disabled]="true" label="Disabled"></p-button>

<h3>Button Directive</h3>
<button pButton type="button" (click)="count()" label="Click"></button>

<button pButton type="button" (click)="count()" icon="fa-check" label="Click"></button>

<button pButton type="button" (click)="count()" icon="fa-check" iconPos="right" label="Click"></button>

<button pButton type="button" (click)="count()" icon="fa-close"></button>

<button pButton type="button" (click)="count()" icon="fa-check" [disabled]="true" label="Disabled"></button>